
<h1>Hi {{currentUser.username}}!</h1>
<p>You're logged in with Angular 7!!</p>
<p>Result of your api</p>
<!-- <h3>All registered users:</h3> -->
<!-- <ul>  -->
    <!-- <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li> -->
    <div  style="width:100%; margin-left: -16%">
    <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">postId</th>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Body</th>
            </tr>
            </thead>
            <tbody>    
               
            <tr *ngFor="let product of products; index as i">
                    <th scope="row">{{ i + 1 }} </th>
                    <th scope="row">{{ product.postId |number}} </th>
                    <th scope="row">{{ product.id |number}} </th>
                    <th scope="row">{{ product.name }} </th>
                    <th scope="row">{{ product.email }} </th>
                    <th scope="row">{{ product.body }} </th>
              <!-- <td></td> -->
              
              <!-- <td>{{ country.area | number }} sfsfs</td>
              <td>{{ country.population | number }} sfs</td> -->
            </tr>
            </tbody>
          </table>
    </div>
<!-- </ul> -->