<!-- <div *ngIf="selectedApi"> -->
<h2>Result of your api '/posts/1/comments'</h2><br>

    <div  style="width:100%; margin-left: -13%">
    <table class="table table-striped" style="width: 100%;">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">postId</th>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Body</th>
            </tr>
            </thead>
            <tbody>    
               
            <tr *ngFor="let product of products; index as i">
                    <th scope="row">{{ i + 1 }} </th>
                    <td scope="row">{{ product.postId |number}} </td>
                    <td scope="row">{{ product.id |number}} </td>
                    <td scope="row">{{ product.name }} </td>
                    <td scope="row">{{ product.email }} </td>
                    <td scope="row">{{ product.body }} </td>
            </tr>
            </tbody>
          </table>
         
    </div>
  <!-- </div> -->