<form [formGroup]= "profileForm" (ngSubmit)="onSubmit()">
    <label>
        First Name:
        <input type="text" formControlName="firstname" required>
    </label><br><br>
            
     <label>
        Last Name:
        <input type="text" formControlName="lastname">
    </label><br><br>

    <div formGroupName="address">
        <h1>Address</h1><br><br>
        <label>
            Street : 
            <input type="text" formControlName="street">
        </label><br><br>
        <label>
            City :
            <input type="text" formControlName="city">
        </label><br><br>
        <label>
            State :
            <input type="text" formControlName="state">
        </label><br><br>
        <label>
            Zip : 
            <input type="text" formControlName = "zip">
        </label><br><br>

    </div>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>

    <p>
        Form Values : {{ profileForm.value }}<br>
        Form Status : {{ profileForm.status}}
    </p>
</form>
